@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap'); */

:root {
    --brown: hsl(20, 100%, 15%);
    --light-brown: hsl(41, 100%, 90%);
}

html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    font-style: normal;
    text-decoration: none;
}

button, a {
    cursor: pointer;
}

.quick-access {
    transform: translate(0, -50px);
    z-index: 10;
    position: fixed;
    padding: 25px;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff89;
    backdrop-filter: blur(10px);
    font-size: .9em;
    transition: all .5s ease;
}

.quick-access a.logo {
    width: 50px;
    height: 35px;
    background: url(../img/logo.png) no-repeat center center;
    background-size: contain;
}

.quick-access nav a.login {
    padding: 5px 15px;
    background: var(--brown);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: .3s ease;
}

header {
    padding: 0 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a.logo {
    width: 90px;
    height: 35px;
    background-color: transparent;
    background: url(../img/logo.png) no-repeat center center;
    background-size: contain;
}

header nav,
.quick-access nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav a,
.quick-access nav a {
    position: relative;
    padding: 5px 10px;
    color: var(--brown);
}

header nav a::before,
.quick-access nav a::before {
    contents: "";
    position: absolute;
    bottom: -1px;
    left: 7px;
    width: 0;
    height: 3px;
    border-radius: 20px;
    background: var(--brown);
    transition: .3s ease;
}

header nav a:hover:before,
header nav a.active:before,
.quick-access nav a:hover:before, 
.quick-access nav a.active:before {
    text-decoration: underline;
    width: 80%;
}

header nav a.login::before,
.quick-access nav a.login::before {
    display: none;
}

header nav a.login {
    padding: 10px 20px;
    background: var(--brown);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: .3s ease;
}

header nav a.login:hover,
.quick-access nav a.login:hover {
    text-decoration: none;
    background: transparent;
    color: var(--brown);
    border: 1px solid var(--brown);
}

header nav .user-icon i,
.quick-access nav .user-icon i {
    font-size: 40px;
    transition: .3s ease;
}

header nav .user-icon i:hover,
.quick-access nav .user-icon i:hover { 
    color: black;
}

header nav .user-icon a::before,
.quick-access nav .user-icon a::before {
    display: none;
}

.contents section {
    position: relative;
}

.contents section {
    min-height: 500px;
    background: var(--light-brown);
}

.contents section.heading {
    min-height: 550px;
    display: flex;
    flex-direction: row;
}

.contents section.heading .sec {
    width: 50%;
    padding: 10px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents section.heading .sec.sec-2 {
    justify-content: left;
}

.contents section.heading .sec.sec-2 h4 {
    display: block;
}

.contents section.heading .sec.sec-2 h1 {
    font-size: 4em;
}

.contents section.heading .sec.sec-2 p {
    text-align: right;
}

.contents section.heading .bx-box::before {
    contents: '';
}

.contents section.heading .bx-box {
    
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.contents section.heading .bx-box .bx {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

.contents section.heading .bx-box .bx.bx-1 {
    opacity: .5;
    transform: rotate(10deg) translate(-10%, 100%);
}

.contents section.heading .bx-box .bx.bx-2 {
    transform: rotate(-10deg) translate(.2%, 78%);
}

.contents section.poster {
    background: #fff;
    min-height: 300px;
    color: var(--brown);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents section.poster .poster-text {
    padding: 30px;
    width: 65%;
    border: 5px solid var(--brown);
}

.contents section.poster .poster-text h1 {
    margin: 15px 0 20px 0;
}

