<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About | Ethio-Commerce</title>
        <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
        <link rel="shortcut icon" href="assets/img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <header>
            <div class="header">
                <div class="head-top">
                    <a href="/" class="logo"></a>
                    <nav class="links">
                        <a href="/" class="active">Home</a>
                        <a href="/#products">Products</a>
                        <a href="/#contact-us">Contact Us</a>
                        <a href="/about">About</a>
                    </nav>
                    <div class="user">
                        <div class="user-actions" hidden>
                            <a class="login" href="/login">Login</a>
                            <a href="/register">Register</a>
                        </div>
                        <div class="user-icon" hidden>
                            <a href="/user/me"><i class='bx bx-user-circle'></i></a>
                            <a href="/user/cart" class="cart">
                                <i class='bx bx-cart-alt'></i>
                                <p id="cartCounter" class="cart-counter">0</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="contents">
            <section class="about">
                <h1>About</h1>
                <p>Ethio-commerce is a website one-stop shop for all things Ethiopian! Explore a diverse range of authentic products, conveniently delivered to your doorstep. We connect you with the best Ethiopian businesses and artisans, offering a seamless and secure online shopping experience. Join the revolution and embrace the vibrant Ethiopian e-commerce landscape with Ethio-commerce!</p>
                <img src="assets/img/logo.png" style=" float: left; padding: 30px 40px;">
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate fugit neque, nemo deleniti tenetur veniam, vitae rem itaque eius, nihil alias beatae repellat quis molestiae commodi dicta! Labore, dolores tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam nemo sed unde vitae recusandae officia iste itaque voluptas earum velit, molestiae corporis totam quaerat ipsa iure quibusdam, non aliquid?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi autem, nulla commodi aperiam alias amet vero esse laborum iste fuga, ut, repellendus illum saepe nemo. Officiis natus voluptate aperiam fugit.</p>
            </section>
        </div>
        <footer>
            <div class="top">
                <div class="sec sec-1">
                    <img src="assets/img/logo.png" alt="">
                </div>
                <div class="sec sec-2">
                    <nav>
                        <h2>Quick Access</h2>
                        <a href="/" class="active">Home</a>
                        <a href="/cart">Cart</a>
                        <a href="/#contact-us">Contact Us</a>
                        <a href="/#products">Products</a>
                        <a href="/about">About</a>
                    </nav>
                </div>
            </div>
            <div class="bottom">
                <p>This Website is made by: <span><a href="https://github.com/mamebb2023">@mamebb2023</a></span></p>
            </div>
        </footer>
        <script src="assets/js/jquery-3.7.1.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script> -->
        <script type="module" src="assets/js/script.js"></script>
    </body>
</html>