<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin | Ethio-Commerce</title>
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel="shortcut icon" href="../assets/img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/other.css">
    </head>
    <body>
        <div class="quick-access">
            <a href="/" class="logo"></a>
            <nav>
                <a href="/">Home</a>
                <a href="#products">Products</a>
                <a href="/contact-us">Contact Us</a>
                <a href="/about">About</a>
                <div class="user-actions" hidden>
                    <a class="login" href="/login">Login</a>
                    <a class="login" href="/register">Register</a>
                </div>
                <div class="user-icon" hidden>
                    <a href="/user/me"><i class='bx bx-user-circle'></i></a>
                    <a href="/user/cart" class="cart">
                        <i class='bx bx-cart-alt'></i>
                        <p id="cartCounter" class="cart-counter">0</p>
                    </a>
                </div>
            </nav>
        </div>
        <header>
            <a href="/" class="logo"></a>
            <nav>
                <a href="/">Home</a>
                <a href="#products">Products</a>
                <a href="/contact-us">Contact Us</a>
                <a href="/about">About</a>
                <div class="user-actions" hidden>
                    <a class="login" href="/login">Login</a>
                    <a class="login" href="/register">Register</a>
                </div>
                <div class="user-icon" hidden>
                    <a href="/user/me"><i class='bx bx-user-circle'></i></a>
                    <a href="/user/cart" class="cart">
                        <i class='bx bx-cart-alt'></i>
                        <p id="cartCounter" class="cart-counter">0</p>
                    </a>
                </div>
            </nav>
        </header>
        <div class="contents">
            <section class="page">
                <h1>Admin Panel</h1>
                <div class="info">
                    <p id="redis">Is redis connected: </p>
                    <p id="db">Is db connected: </p>
                    <p id="totalUsers">Total registered users: </p>
                    <p id="totalItems">Total productes posted: </p>
                </div>
                <div class="post-item">
                    <h1>Post Item</h1>
                    <p class="alert" hidden></p>
                    <p class="msg" hidden></p>
                    <form id="item-form" method="POST" enctype="multipart/form-data">
                        <div class="item-img">
                            <div id="display-image">
                                <img src="assets/img/temp-item-img.png" alt="">
                            </div>
                            <input id="item-image" name="itemImage" type="file" accept="image/*">
                        </div>
                        <div class="item-details">
                            <div class="item-name">
                                <input id="item-name" name="itemName" type="text" placeholder="Name">
                                <input id="item-price" name="itemPrice" type="number" placeholder="Price">
                            </div>
                            <input id="mini-detail" name="miniDetail" type="text" placeholder="Mini Details">
                            <textarea id="item-details" name="itemDetails" type="text" placeholder="Details"></textarea>
                            <button type="submit">Post</button> 
                        </div>
                    </form>

                </div>
            </section>
        </div>
        <!-- <script src="../assets/js/jquery-3.7.1.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script type="module" src="../assets/js/script.js"></script>
        <script type="module" src="../assets/js/other.js"></script>
    </body>
</html>