<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ethio-Commerce</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="shortcut icon" href="assets/img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <div class="quick-access">
            <a href="/" class="logo"></a>
            <nav>
                <a href="/" class="active">Home</a>
                <a href="#products">Products</a>
                <a href="/contact-us">Contact Us</a>
                <a href="/about">About</a>
                <div class="user-actions" hidden>
                    <a class="login" href="/login">Login</a>
                    <a class="login" href="/register">Register</a>
                </div>
                <div class="user-icon" hidden>
                    <a href="/user/me"><i class='bx bx-user-circle'></i></a>
                    <a href="/user/cart" class="cart">
                        <i class='bx bx-cart-alt'></i>
                        <p id="cartCounter" class="cart-counter">0</p>
                    </a>
                </div>
            </nav>
        </div>
        <header>
            <a href="/" class="logo"></a>
            <nav>
                <a href="/" class="active">Home</a>
                <a href="#products">Products</a>
                <a href="/contact-us">Contact Us</a>
                <a href="/about">About</a>
                <div class="user-actions" hidden>
                    <a class="login" href="/login">Login</a>
                    <a class="login" href="/register">Register</a>
                </div>
                <div class="user-icon" hidden>
                    <a href="/user/me"><i class='bx bx-user-circle'></i></a>
                    <a href="/user/cart" class="cart">
                        <i class='bx bx-cart-alt'></i>
                        <p id="cartCounter" class="cart-counter">0</p>
                    </a>
                </div>
            </nav>
        </header>
        <div class="contents">
            <section class="heading">
                <div class="sec sec-1">
                    <img src="assets/img/logo.png" alt="">
                </div>
                <div class="sec sec-2">
                    <div class="text">
                        <h4>Welcome to</h4>
                    <h1>
                        <span style="color: Green;">E</span>
                        <span style="color: yellow;">t</span>
                        <span style="color: red;">h</span>
                        io-Commerce
                    </h1>
                    <p>Greatest place to buy and sell online.</p>
                    </div>
                </div>
                <div class="bx-box">
                    <div class="bx bx-1"></div>
                    <div class="bx bx-2"></div>
                </div>
            </section>
            <section class="poster">
                <div class="poster-text">
                    <h1>Title of the poster</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam officia nobis consectetur rerum laudantium atque neque nesciunt error aspernatur vitae velit esse quam libero incidunt culpa reprehenderit, quisquam saepe cumque?</p>
                </div>
            </section>
            <section class="content">
                <h1>Explore Products</h1>
                <h2></h2>
                <div class="products">
                    <div class="item">
                        <div class="item-img">
                            <img id="itemImg" src="assets/img/temp-item-img.png" alt="Shoe">
                        </div>
                        <div class="item-details">
                            <h3 id="itemName">Men Shoes</h3>
                            <p id="itemDetails">Men shoes white yellow</p>
                            <div class="price">
                                <span id="canceledPrice" class="canceled">Birr 2000</span>
                                <span id="price" class="price">Birr 1500</span>
                            </div>
                        </div>
                        <div class="item-btn">
                            <button id="details" class="details">details...</button>
                            <button id="addToCart" class="add-to-cart"><i class='bx bx-plus'></i></button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer></footer>
        <script src="assets/js/jquery-3.7.1.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> -->
        <script type="module" src="assets/js/script.js"></script>
    </body>
</html>