<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ethio-Commerce</title>
        <link rel="shortcut icon" href="assets/img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <header>
            <a href="/" class="logo"></a>
            <nav>
                <a href="/" class="active">Home</a>
                <a href="/products">Products</a>
                <a href="/news">News</a>
                <a href="/about">About</a>
                <a class="login" href="/login">Login</a>
                <a class="login" href="/register">Register</a>
            </nav>
        </header>
    </body>
</html>