<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ethio-Commerce</title>
        <link rel="stylesheet" href="assets/css/common.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <header>
            <h1>
                <i style="color: green;">E</i>
                <i style="color: yellow;">t</i>
                <i style="color: red">h</i>
            </h1>
            <nav>
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <a href="/news">News</a>
                <a href="/about">About</a>
                <a class="login" href="/login">Login</a>
            </nav>
        </header>
    </body>
</html>