<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ethio-Commerce</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="shortcut icon" href="assets/img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <div class="item-detail-box" hidden>
            <div id="close" class="close"><i class='bx bx-x'></i></div>
            <div class="item-detail-row"></div>
        </div>
        <header>
            <div class="head">
                <div class="head-top">
                    <a href="/" class="logo"></a>
                    <nav class="links">
                        <a href="/" class="active">Home</a>
                        <a href="#products">Products</a>
                        <a href="#contact-us">Contact Us</a>
                        <a href="/about">About</a>
                    </nav>
                    <div class="user">
                        <div class="user-actions" hidden>
                            <a class="login" href="/login">Login</a>
                            <a href="/register">Register</a>
                        </div>
                        <div class="user-icon" hidden>
                            <a href="/user/me"><i class='bx bx-user-circle'></i></a>
                            <a href="/user/cart" class="cart">
                                <i class='bx bx-cart-alt'></i>
                                <p id="cartCounter" class="cart-counter">0</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="head-bottom">
                    <div class="sec">
                        <div>
                            <h3>Welcome to</h3>
                            <h1><span>Eth</span>io-Commerce</h1>
                            <p>Greatest place to buy products online.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="contents">
            <section class="poster">
                <div class="poster-text">
                    <h1>What is this Website?</h1>
                    <p>Ethio-commerce is a website one-stop shop for all things Ethiopian! Explore a diverse range of authentic products, conveniently delivered to your doorstep. We connect you with the best Ethiopian businesses and artisans, offering a seamless and secure online shopping experience.</p>
                </div>
            </section>
            <section id="products" class="content">
                <h1>Explore Products</h1>
                <h2></h2>
                <div id="items" class="products"></div>
            </section>
            <section id="contact-us" class="contact-us">
                <div class="contact-bg">
                    <form id="contactForm" method="POST">
                        <h1>Contact Us</h1>
                        <input type="text" name="name" id="name" placeholder="Name">
                        <input type="email" name="email" id="email" placeholder="Email">
                        <textarea name="message" id="message" placeholder="Send us a line..."></textarea>
                        <button id="contactBtn" type="submit">Send</button>
                    </form>
                </div>
            </section>
        </div>
        <footer>
            <div class="top">
                <div class="sec sec-1">
                    <img src="assets/img/logo.png" alt="">
                </div>
                <div class="sec sec-2">
                    <nav>
                        <h2>Quick Access</h2>
                        <a href="/" class="active">Home</a>
                        <a href="/cart">Cart</a>
                        <a href="/contact-us">Contact Us</a>
                        <a href="#products">Products</a>
                        <a href="/about">About</a>
                    </nav>
                </div>
            </div>
            <div class="bottom">
                <p>This Website is made by: <span><a href="https://github.com/mamebb2023">@mamebb2023</a></span></p>
            </div>
        </footer>
        <script src="assets/js/jquery-3.7.1.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> -->
        <script type="module" src="assets/js/script.js"></script>
        <script type="module" src="assets/js/index.js"></script>
    </body>
</html>