<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | Ethio-Commerce</title>
        <link rel="shortcut icon" href="assets/img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/login.css">
    </head>
    <body>
        <div class="content">
            <a class="home-link" href="/"><i class="">H</i></a>
            <div class="bubbles">
                <div class="bubble bubble-1"></div>
                <div class="bubble bubble-2"></div>
                <div class="bubble bubble-3"></div>
                <div class="bubble bubble-4"></div>
                <div class="bubble bubble-5"></div>
            </div>
            <section>
                <div class="box">
                    <div class="form-box">
                        <h1>Welcome!</h1>
                        <p id="alert" hidden></p>
                        <p id="success" hidden></p>
                        <form id="login-form" action="/login" method="POST">
                            <input type="email" id="email" name="email" placeholder="Email">
                            <input type="password" id="password" name="password" placeholder="Password">
                            <button type="submit">Login</button>
                        </form>
                        <p>or Create An Account<a href="/register">here</a></p>
                    </div>
                </div>
            </section>
        </div>
        <script src="assets/js/jquery-3.4.1.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script> -->
        <script type="module" src="assets/js/script.js"></script>
        <script type="module" src="assets/js/login.js"></script>
    </body>
</html>